services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: inventorydb
      POSTGRES_USER: inventory
      POSTGRES_PASSWORD: inventory
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - multitenant-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U inventory -d inventorydb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  api:
    build:
      context: ./src/Strategico.Inventory.Service
      dockerfile: ./Strategico.Inventory.Service.WebAPI/Dockerfile
    image: mphozazo/inventory-api:1.0.0
    container_name: inventory-api
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
       DOTNET_ENVIRONMENT: Docker
       ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=inventorydb;Username=inventory;Password=inventory"
    networks:
      - multitenant-network
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  multitenant-network:
    driver: bridge

volumes:
  postgres_data:
